.products{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.leftSide{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 50px;
}
.rightSide{
    background-color: #d8d8d9;
    border-radius: 15px;
    height: 400px;
    width: 298px;
}
.rightSide h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}