.products{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.leftSide{
    /* display: grid; */
    grid-template-columns: repeat(3,1fr);
    row-gap: 50px;
}
.rightSide{
    background-image: linear-gradient(45deg, #e88ee9, transparent);
    border-radius: 15px;
    height: 500px;
    width: 400px;
    margin-right: 40px;
    position: sticky;
    top: 0;
}
.rightSide h1{
    font-size: 30px;
    font-weight: bold;
    position: sticky;
}
.choseButton{
    background-image: linear-gradient(45deg, #e69d9d, transparent);
    font-weight: bold;
    font-size: 10px;
    font-size: 22px;
    color: #4c4c8f;
    border-radius: 5px;
    box-shadow: 10px 6px 8px;
}
.choseButton:active{
    box-shadow: 4px 4px 7px;
}
.multiBtn{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;

}
.resetButton{
    background-image: linear-gradient(45deg, #e69d9d, transparent);
    font-weight: bold;
    font-size: 10px;
    font-size: 16px;
    color: #4c4c8f;
    border-radius: 5px;
    box-shadow: 10px 6px 8px;
}
.resetButton{
    box-shadow: 4px 4px 7px;
}