.products{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.leftSide{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 50px;
}
.rightSide{
    background-image: linear-gradient(184deg, #e88ee9, transparent);
    border-radius: 15px;
    height: 550px;
    width: 280px;
    margin-right: 20px;
    position: sticky;
    top: 0;
}
.rightSide h1{
    font-size: 30px;
    font-weight: bold;
    position: sticky;
}
.choseButton{
    background-image: linear-gradient(182deg, #10b5eb, transparent);
    font-weight: bold;
    font-size: 15px;
    color: #4c4c8f;
    border-radius: 5px;
    box-shadow: 10px 6px 8px;
    border-style: none;
    margin-bottom: 20px;
}
.choseButton:active{
    box-shadow: 4px 4px 7px;
}
.multiBtn{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin:auto;
    width: 157px;

}
.resetButton{
    font-weight: bold;
    font-size: 16px;
    color: #ff081f;
    border-radius: 5px;
    box-shadow: 10px 6px 8px;
    border-style: none;
}
.resetButton{
    box-shadow: 4px 4px 7px;
}
@media screen and (max-width:688px){
    .rightSide{
        width: 369px;
        margin-right: 20px;
        margin-top: 30px;
    }
    .resetButton{
        font-size: 16px;
        margin-top: 10px;
    }
    .multiBtn {
        flex-direction: column;
    }
    .choseButton{
        font-size: 16px;
    }
    .leftSide{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .products{
        display: flex;
        flex-direction: column;
    }
}