.product img{
    width: 17rem;
    border-radius: 10px;
    border: 1px solid gray;
    margin-left: -3px;
    margin-top: 9px;
    margin-bottom: 40px;
    border-style: none;
}
.product{
    width: 290px;
    height: 450px;
    background-image: linear-gradient(45deg, #ff3f74, transparent);
    border-radius: 15px;
    position: relative;
    margin-left: 25px;
}
.button{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(202deg, #10b5eb, transparent);
    font-weight: bold;
    font-size: 10px;
    font-size: 18px;
    color: #4c4c8f;
    left: 0;
    border-style: none;
}

.icon{
width: 44px;
}
@media screen and (max-width:688px){
    .product{
        margin: auto;
        width: 369px;
    }
    .product img{
        width: 22rem;
    }
}