.product img{
    width: 20rem;
    border-radius: 10px;
    border: 1px solid gray;
    margin-left: -3px;
    margin-top: 9px;
    margin-bottom: 40px;
}
.product{
    width: 340px;
    height: 500px;
    background-image: linear-gradient(45deg, #fe853f, transparent);
    border-radius: 15px;
    position: relative;
    margin-left: 50px;
}
.button{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(45deg, #e69d9d, transparent);
    font-weight: bold;
    font-size: 10px;
    font-size: 22px;
    color: #4c4c8f;
    left: 0;
    border-style: none;
}

.icon{
width: 44px;
}
@media screen and (max-width:688px){
    .product{
        margin-left: 20px;
        margin-right: 10px;
    }
}